body{
    margin: 0;
    background-color: white;
    min-width: 0px;
    font-family: "Arial", Times, Sans-serif;
}

.nav{
    position: fixed;
    display: flex;
    width: 100%;
    border: solid;
    border-width: 7px 0px 7px 0px;
    border-color: green;
    justify-content: space-between;
    background-color: white;
    

}
.Nav_text{
    display: flex;
    order: 2;
    margin-right: 50px;
    margin-top:auto;
    margin-bottom: auto;
}
a{
    text-decoration: none;
    color: green;
    font-size: 35px;
}
a:hover{
    text-decoration: underline;
}
.Nav_logo{
    order:2;
    margin-left: 10px;
    margin-right: 60px;
}
.Nav_text1{
    margin-right: 40px;
  }
.dropdown{
    display: none;
    order: 2;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    margin-right: 84px;
}
.burger{
    border: solid;
    border-width: 5px;
    border-color: green;
    border-radius: 100px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.burger div{
    width: 40px;
    height: 10px;
    background-color: green;
    margin: 7px;
    order: 3;
    border-radius: 10px;
}  

.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    padding: 25px 10px;
    z-index: 1;
    box-shadow: 0 25px 20px rgba(0, 0, 0, 0.3);
    line-height: 60px; 
    height: 1000%;
    right: 0;
    text-align: center;
}

.dropdown:hover .dropdown_content {
  display: block;
}

@media only screen and (max-width: 1024px) {
    .Nav_text{
        display: none;
    }
    .dropdown{
        display:block
    }
}