*{margin:0;padding:0;}
.content{
    display:flex;
    flex-wrap:wrap;
    width:90%;
    margin:auto;
    align-self: center;
}

.prototypeHeader{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

.prototypeHeader h1{
    font-size: 2em;
    text-align:center;
    margin: 20px 40px;
}

.prototypeHeader p{
    font-size: 1.5em;
    text-align:center;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.prototypeContent{
    display:flex;
    flex-wrap:wrap;
}

.prototype1{
    flex-basis:100%;
    margin-top: 50px;
}

.prototype1 img{
    width:350px;
    float:left;
}

.prototype1 h1{
    float:left;
    font-size:2em;
    width:60%;
    margin-bottom: 15px;
}

.prototype1 p{
    float:left;
    font-size:1.5em;
    width:40%;
    line-height:1.25em;
}
