@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
/* Kan fjerne denne om folk ikke liker den? */
/* Css reset */
* {
    margin: 0;
    font-family: "roboto", sans-serif;
}
/* NavBar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: white;
    box-shadow: 1px 1px 5px gray;
}

.logo {
    max-height: 72px;
}

.nav-desktop ul {
    display: flex;
    list-style-type: none;
}
.nav-mobile {
    display: none;
}

.nav-desktop a {
    text-decoration: none;
    font-size: 25px;
    padding: 25px 16px;
    color: black;
}

.nav-desktop .active {
    /* en type styling her ?*/
    background-color: gray;
}

.nav-desktop a:hover {
    background-color: darkgray;
}

/* global? */

section {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Eller space around? */
    margin: 8px 0;
    width: 100%;
}

/* Home */
.home-text {
    text-align: center;
    width: 30%;
    margin: 12px;
    padding: 4px;
    border: solid gray 4px;
}
/* Problem */

.big-picture {
    max-height: 300px;
    width: 100%;
}
.problem-text {
    width: 35%;
    margin: 8px;
}
.problem-question {
    padding: 4px;
    border: solid gray 2px;
    font-weight: bold;
}
.problem-person {
    width: 30%;
    text-align: center;
    margin: 8px;
    padding: 8px;
    border-radius: 4px 4px;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
}
.problem-solution {
    width: 35%;
    padding: 8px;
    text-align: center;
    border: solid gray 4px;
}

.problem-img {
    max-height: 350px;
    max-width: 250px;
}
.problem-solution-img {
    max-height: 300px;
}

/* Solution */
.solution-text {
    width: 35%;
    margin: 8px;
}
.solution-img {
    max-width: 250px;
    max-height: 150px;
    
}

/* Prototype */
.prototype-text {
    width: 45%;
    margin: 8px;
}

.prototype-img {
}

/* Sources */
.sources ul {
    flex-direction: column;
}

@media only screen and (max-width: 650px) {
    .nav-desktop {
        display: none;
        
    }
    .nav-mobile {
        display: flex;
    }
    header {
        flex-direction: column;
        
    }
    .nav-mobile ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    .nav-mobile a {
        text-decoration: none;
        font-size: 25px;
        color: black;
    }
    section {
        flex-direction: column;
        align-items: center;
    }
    .home-text,
    .problem-text,
    .prototype-text,
    .solution-text,
    .problem-person {
        width: 100%;
    }
    nav ul {
        /* flex-direction: column;
        margin: 20px; */
        /* Må gjøres responsive */
    }
}
