body{
    margin: 0;
    background-color: lightgreen;
    min-width: 700px;
    font-family: "Arial", Times, Sans-serif;
}
main{
    background-image: url("Images/GI_Market_food_waste.jpg");
    /*24.11.2019, commons.wikimedia.org, https://upload.wikimedia.org/wikipedia/commons/3/31/GI_Market_food_waste.jpg*/
    max-width: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    
}

.nav{
    display: flex;
    border: solid;
    border-width: 7px 7px 7px 7px;
    border-color: green;
    justify-content: space-between;
    background-color: white;
    

}
.nav img{
    margin-bottom: 0px;
}
a{
    text-decoration: none;
    color: green;
    font-size: 30px;
}
a:hover{
    text-decoration: underline;
}
.Nav_logo{
    flex:1;
    order:1;
    margin-right: 50px;
    margin-left: 24px;
}

 .Nav_text1{
     flex:8;
     order:2;
     margin-top:auto;
     margin-bottom: auto;
     
  }
.Nav_text2{
    flex:10;
    order:3;
    margin-top:auto;
    margin-bottom: auto;
  }
.Nav_text3{
    flex:10;
    order:4;
    margin-top:auto;
    margin-bottom: auto;
  }
.Nav_text4{
    flex:11;
    order:5;
    margin-top:auto;
    margin-bottom: auto;
     
  }
.Nav_text5{
    flex:10;
    order:6;
    margin-top:auto;
    margin-bottom: auto;
     
}
.container1{
    display: flex;
}
.container2{
    display: flex;
}
.box1{
    margin-top: 100px;
     border: solid;
    border-width: 7px 7px 7px 7px;
    border-radius: 10px;
    border-color: green;
    margin-right:auto;
    margin-left: auto;
    background-color: white;
    color: black;
    width: 50%;
    
}
.logo{
    margin-bottom: auto;
    margin-top: auto;
    margin-top: 50px;
    
}
.box2{
    border: solid;
    border-width: 7px 7px 7px 7px;
    border-radius: 10px;
    border-color: green;
    margin: 25px;
    flex:1;
    background-color: white;
    color: black;
    margin-top: 75px;
}

h1{
    text-align: center;
    font-size: 70px;
    
}
h2{
    font-size: 40px;
    text-align: center;
}
h4{
    margin: 20px;
    font-size: 17px;
}
button{
   
    height: 55px;
    width: 110px;
    border-radius: 10px;
    background-color: lightgreen;
    margin-left : auto;
    margin-right: auto;
    font-weight: 800;
    border: solid;
    border-width: 1px 1px 1px 1px;
    border-color: green;
    color: black;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    
    
}
button:hover{
    background-color: green;
    color: white;
    border-color: black;
    
}
@media only screen and (max-width: 1024px) {
    
    .container2{
        flex-direction: column;
    }
    h1{
        font-size: 45px;
        
    }
    h2{
         font-size: 20px;
        
    }
    .box2{
        margin-right: 150px;
        margin-left: 150px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .box1{
        margin-bottom: 100px;
    }
    .nav img{
        width: 75px;
    }
    a{
        font-size: 25px;
    }
    button{
        margin-bottom: 20px;
    }
}
    
