/* Css reset */
* {
    margin: 0;
}
/* NavBar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

.logo {
    max-height: 72px;
}

nav ul {
    display: flex;
}

.nav-item {
    list-style-type: none;
    margin: 4px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* global? */

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px 0;
    width: 100%;
}

/* Problem */

.big-picture {
    max-height: 300px;
    width: 100%;
}
.problem-text {
    width: 35%;
    margin: 8px;
}
.problem-question {
    border: solid green 4px;
}
.problem-person {
    width: 30%;
    text-align: center;
    margin: 8px;
}
.problem-solution {
    width: 40%;
    border: solid gray 4px;
}

.problem-img {
    max-height: 350px;
    max-width: 250px;
}

/* Solution */
.solution-text {
    width: 35%;
    margin: 8px;
}
.solution-img {
}

/* Prototype */
.prototype-text {
    width: 45%;
    margin: 8px;
}

.prototype-img {
}

/* Sources */
.sources ul {
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    section {
        flex-direction: column;
        align-items: center;
    }
    .problem-text,
    .prototype-text,
    .solution-text,
    .problem-person {
        width: 100%;
    }
}
